.translucent {
  opacity: 40%;
}
div.card {
  display: none;
  align-content: center;
}
ul.list-group-flush {
  padding-inline-start: 0px;
}
#player1-card, #player2-card {
  margin-left: 8.3333%;
  margin-right: 8.3333%;
}